@media only screen and (min-width: 1001px) {
    .mv{
        width: 1000px;
        height: 13000px;
        display: flex;
        background: url("LP2.png");
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .main-button{
        position: absolute;
        left: 168px;
        top: 1184px;
        height: 110px;
        width: 920px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .button2{
        position: absolute;
        left: 201px;
        top: 5597px;
        height: 102px;
        width: 855px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .button3{
        position: absolute;
        left: 183px;
        top: 12655px;
        height: 105px;
        width: 890px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

/*    .button4{
        position: absolute;
        left: 337px;
        top: 7105px;
        height: 76px;
        width: 634px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    */
}

@media only screen and (max-width: 1000px) {
    .mv{
        width: 960px;
        height: 12500px;
        display: flex;
        background: url("LP2.png");
        background-size: cover;
    }
        
    .main-button{
        position: absolute;
        left: 47px;
        top: 1138px;
        height: 107px;
        width: 883px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
        
    .button2{
        position: absolute;
        left: 79px;
        top: 5375px;
        height: 96px;
        width: 818px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
        
    .button3{
        position: absolute;
        left: 60px;
        top: 12149px;
        height: 100px;
        width: 855px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
        
/*    .button4{
        position: absolute;
        left: 243px;
        top: 5488px;
        height: 56px;
        width: 490px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    */
}